body {
    font-family: 'Source Sans Pro', serif;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #444;
}

.centeralign {
    text-align: center;
}

.total {
    min-height: 100vh;
}

.content {
    max-width: 600px;
    padding-left: 1em;
    padding-right: 1em;
}

.header-flexbox {
    display: flex;
    justify-content: center;
}
.header-container {
    max-width: 386px;
}
.header {
    height: 9em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: center;
}
.header-text {
    font-family: "Sanchez", serif;
    font-size: 2.88em;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1.5px;
    color: #60666a;
    transition: color 0.2s, text-shadow 0.2s;
    line-height: 0.9em;
    padding-bottom: 0.3em;
}
.header-text:hover {
    color: #99ccff;
}
.super-hr {
    width: 100vw;
    position: absolute;
    border: none;
    border-top: 1px #ebebec solid;
    left: 0;
    overflow: hidden;
}
.top-hr {
    top: 8.2em;
}
.subheader {
    font-family: "Lato", helvetica, sans-serif;
    color: #9c95a2dd;
    font-size: 0.8125em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 0.1em;
    text-align: center;
}

.ship-container {
    max-width: 600px;
    height: 60px;
    margin-top: -20px;
}
.ship {
    position: absolute;
    height: 60px;
    width: calc(min(600px, 100vw));
    max-width: 600px;
}
.ship-img {
    height: 120px;
    animation: sailing 8s linear infinite, rocking 3.3s infinite, bobbing 2.3s infinite;
    position: absolute;
}
.ocean {
    position: absolute;
    height: 120px;
    z-index: -1;
    width: 100%;
    left: 0;
    mask-image: linear-gradient(to right, #00000000, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to right, #00000000, rgba(0,0,0,1), rgba(0,0,0,0));
}
.screener-container {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}
.screener1 {
    max-width: 500px;
    width: 80vw;
}
#welcome {
    text-align: center;
}

.log-header-message {
    color: #999999;
    margin-top: -0.7em;
    font-family: "Sanchez", serif;
}
.log-entry {
    display: flex;
    align-items: center;
}
.log-date {
    min-width: 8em;
    font-family: "Sanchez", serif;
    color: #3399cc;
    font-weight: 400;
    font-size: 1.1em;
}
.log-data {
    flex-grow: 1;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-header-message {
    color: #999999;
    margin-top: -1.0em;
    font-family: "Sanchez", serif;
}
.post-date {
    color: #999999;
}
.post-subtitle {
    margin-top: -0.4em;
}
.post-read {
    margin-bottom: 0.1em;
}
.post-link {
    float: right;

}
.post-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-page-date {
    color: #999999;
    font-size: 1.2em;
    margin-top: 0.6em;
}
.post-page-subheader {
    color: #999999;
    margin-top: -1.0em;
    font-family: "Sanchez", serif;
}

@keyframes sailing {
  0% {
    opacity: 0;
    left: 0%;
  }
  15% {
    opacity: .3;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: .7;
  }
  100% {
    opacity: 0;
    left: calc(100% - 140px);
  }
}
@keyframes rocking {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bobbing {
  0% {
    margin-top: -35px;
  }
  50% {
    margin-top: -30px;
  }
  100% {
    margin-top: -35px;
  }
}

.categories {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: "Sanchez", serif;
    color: #3399cc;
    font-weight: 400;
    font-size: 2.0em;
    margin-bottom: 0.5em;
}


h2 {
    font-family: "Sanchez", serif;
    color: #3399cc;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.entry-link {
    margin-left: 1em;
}
.entry-info {
    margin-top: -0.6em;
    color: #9c95a2;
}

a {
    color: #3399cc;
    text-decoration: none;
    transition: color 0.2s, text-shadow 0.2s;
}
a:hover {
    color: #143352;
}

hr {
    border: none;
    border-top: 1px #ebebec solid;
}
