{{ define "main" }}
<div class="ship-container">
  <div class="ship">
    <img class="ship-img" src="/img/ship1.PNG"></img>
    <img class="ocean" src="/img/ocean.png"></img>
  </div>
</div>
<h2 id="welcome"> {{ .Site.Params.IndexGreeting }} </h2>
<hr></hr>
<p>{{ .Site.Params.IndexMessage }}</p>
<hr></hr>
<div class="categories">
  <h3><a href="/about">about</a></h3>
  <h3><a href="/posts">posts</a></h3>
  <h3><a href="/logs">logs</a></h3>
</div>
<hr></hr>
<div class="screener-container">
<iframe class="screener1" src="https://www.youtube.com/embed/FKXTyjRK8EQ" title="Konkan Coast Pirate Solutions v0.4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{{- partial "footer.html" . -}}
{{ end }}
